modules = ["nodejs-20", "web", "postgresql-16"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-25_05"
packages = ["psmisc", "perkeep"]

[deployment]
deploymentTarget = "autoscale"
build = ["npm", "run", "build"]
run = ["npm", "run", "start"]

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 36185
externalPort = 3000

[[ports]]
localPort = 42215
externalPort = 3002

[[ports]]
localPort = 46237
externalPort = 3001

[env]
PORT = "5000"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[agent]
integrations = ["google-sheet:1.0.0", "javascript_database:1.0.0", "github:1.0.0"]
expertMode = true

[userenv]

[userenv.shared]
DATABASE_URL = "postgresql://postgres.mbvskiaqfpbbnxhgzpga:Beqqali%40123@aws-1-eu-west-1.pooler.supabase.com:5432/postgres"
